<div *ngIf="podcast">
  <div class="podcast__artwork" [ngStyle]="{'background': coverColor}">
    <img 
      class="podcast__img" 
      crossOrigin="anonymous" 
      src="https://cors-anywhere.herokuapp.com/{{podcast.cover | toHttps}}"
      alt="{{podcast.title}} - artwork"
      (load)="getColor($event)" 
      (error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
      />

    <div class="podcast__info">
      <div class="podcast__title">{{ podcast.title }}</div>
      <div class="podcast__author">By {{ podcast.author }}</div>
      <div class="podcast__description">{{ podcast.description }}</div>
    </div>
  </div>
</div>