<div class="podcast__episodes" *ngIf="episodes">
  <ul class="episode__list">
    <li *ngFor="let episode of episodes; trackBy: trackEpisode" class="episode">
      <a class="episode__link" (click)="setEpisode(episode)">
        <div class="episode__info">
          <div class="episode__artwork">
            <img
              class="episode__img"
              appLazyLoadImage="{{episode.cover | toHttps}}"
              alt="{{episode.podcastTitle}} - artwork"
              (error)="$event.target.src = this.fallbackImage; episode.cover = this.fallbackImage"
            />
          </div>
          <div class="episode__metadata">
            <div class="episode__title">{{ episode.title }}</div>
            <div class="episode__author"><a [routerLink]="['/podcast', 'feed', episode.podcastId]">{{ episode.podcastTitle }}</a></div>
            <div class="episode__duration">{{ episode.releaseDate | date }} - {{ episode.duration }}</div>
          </div>
        </div>
        <div class="episode__description" [ngClass]="{'episode__description--closed': !episode.descriptionOpened}" (click)="openDescription($event, episode)" >
          {{ episode.description }}
        </div>
        <div class="episode__progress">
          <div class="episode__controls">
            <a class="episode__play" (click)=setEpisode(episode)>
              <i class="fa fa-play"></i>
            </a>
            <a class="episode__download" (click)="stopPropagation($event)" href="{{episode.src}}" download target="_blank">
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
