@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast__episodes{
    z-index: 10;
    position: relative;
    width: 100%;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.episode__list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.episode__link{
    display: flex;
    flex-direction: row wrap;
    justify-content: left;  
    margin: 40px 20px;

    @include media-breakpoint-down(sm) {
        margin: 40px 10px;
    }
}

.episode__artwork{
    flex-basis: 160px;
    width: 160px;
    height: 160px;
    min-width: 160px;
    margin-right: 20px;
    border: 2px solid $gray-dark;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        flex-basis: 130px;
        width: 130px;
        height: 130px;
        min-width: 130px;
    }
}

.episode__img{
    width: 100%;
    height: 100%;
    display: block;
}

.episode__info{
    color: $gray-white;
    flex-grow: 1;
}

.episode__title{
    font-size: 1.1rem;
    font-weight: bolder;
}

.episode__author{
    a {
        color: $gray-white;
    }
}

.episode__size{
    margin: 10px 0;
}

.episode__download{
    text-decoration: none;
    color: $gray-light;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    z-index: 1900;
}

.episode__link{
    text-decoration: none;
    color: $gray-light;
    cursor: pointer;
}

.episode__play{
    text-decoration: none;
    color: $gray-light;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 5px 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}


.episode__progress{
    width: 100%;
    display: block;
    margin: 5px 0;
}


.episode__bar{
    height: 8px;
    flex: 1 1;
    border: none;
    appearance: none;

    &[value]::-webkit-progress-value,
    &[value]::-webkit-progress-bar-value {
        background-color: $main-yellow;
        border: none;
    }

    &[value]::-webkit-progress-bar,
    &[value]::-moz-progress-bar {
        background-color: white;
        border: none;
    }
}
