<h2 *ngIf="title && podcasts">{{title}}</h2>
<ul class="podcast__list" [ngClass]="{'podcast__list--horizontal': horizontal}">
  <li class="podcast" *ngFor="let podcast of podcasts; trackBy: trackPodcast">
    <a class="podcast__link" [routerLink]="['/podcast', 'feed', podcast.id]">
      <div class="podcast__artwork">
        <img 
          class="podcast__img" 
          appLazyLoadImage="{{podcast.cover | toHttps}}"
          alt="{{podcast.name}} - artwork"
          (error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
        />
      </div>
      <div class="podcast__info">
        <div class="podcast__title">{{ podcast.title }}</div>
        <div class="podcast__author">{{ podcast.author }}</div>
      </div>
    </a>
  </li>
</ul>
