<div class="audio">
  <div class="audio__btn" [ngClass]="{pause: !audio.paused}" (click)="pauseAudio()"></div>

  <div class="audio__metadata">
    <div class="audio__info">
      <div class="audio__title">{{ episode.title }}</div>
      <div class="audio__author"><a [routerLink]="['/podcast', 'feed', episode.podcastId]">{{ episode.podcastTitle }}</a></div>
    </div>

    <div class="audio__progress" [ngClass]="{'is-changing': isChanging}" >
      <small class="audio__time">{{ episode.currentTimeString }}</small>
      <ng5-slider [(value)]="episode.progressbar" [options]="options" class="audio__bar" (userChangeStart)="isChanging = true" (userChangeEnd)="seekAudio()"></ng5-slider>

      <small class="progress__time">{{ episode.durationString }}</small>
    </div>
  </div>

  <img 
    class="audio__cover"
    appLazyLoadImage="{{episode.cover | toHttps}}"
    alt="Cover - Podcast {{episode.author}} - Episode {{episode.title}}"
    (error)="$event.target.src = 'assets/img/cover-placeholder.jpg'"
  >
</div>
