@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

$audio-player-color: $gray-darker;
$zindex-navbar: 1100;

.audio {
  z-index: $zindex-navbar;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $audio-player-color;
  color: $white;
}


.audio__btn {
  background-image: url('/assets/img/play-button.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 10px 5px;
  flex-basis: 60px;
  min-width: 60px;
  cursor: pointer;

  &.pause {
    background-image: url('/assets/img/pause-button.png');
  }
}


.audio__metadata {
  flex: 1 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}


.audio__info {
  text-align: center;
}


.audio__title {
  font-weight: bolder;

  @include media-breakpoint-up(xs) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: .9rem;
  }
}


.audio__author {
  font-size: .75rem;

  a {
    color: $white
  }
}


.audio__progress {
  width: 100%;
  display: flex;
  flex-direction: row;
}


.audio__bar {
  height: 8px;
  margin: 0 10px;
  flex: 1 1;
  border: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  position: relative;
}


.audio__cover {
  height: 80px;
  width: 80px;

  @include media-breakpoint-up(xs) {
    display: block;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

::ng-deep {
  .audio__progress {
    ng5-slider {
      .ng5-slider-floor {
        display: none !important;
      }

      .ng5-slider-ceil {
        display: none !important;
      }

      .ng5-slider-model-value {
        display: none !important;
      }

      .ng5-slider-selection {
        background: $main-yellow !important;
      }

      .ng5-slider-pointer {
        background: transparent !important;
      }

      .ng5-slider-pointer:after {
        background-color: $main-yellow !important;
        transform: scale(1.2);
      }

      &:hover {
        .ng5-slider-pointer:after {
          transition: all .3s ease-in-out;
          transform: scale(3);
        }
      }
    }
  }
}
