html {
    height: 100%;
  }
  body {
    background: #000;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .loader {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FEFF00;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    text-align: center;
    -webkit-animation: scale 3.5s ease;
            animation: scale 3.5s ease;
  }
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -12px;
    margin-left: -12px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid;
    -webkit-animation: rotation-z 2s linear 0s infinite;
            animation: rotation-z 2s linear 0s infinite;
  }
  .loader .part {
    border-radius: 50%;
    display: inline-block;
  }
  .loader > .part {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-left: 5px solid;
    -webkit-animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 2s linear 0s infinite forwards;
            animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 2s linear 0s infinite forwards;
  }
  .loader > .part > .part {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-left: 5px solid;
    -webkit-animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-right 1s linear 0s infinite forwards;
            animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-right 1s linear 0s infinite forwards;
  }
  .loader > .part > .part > .part {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-left: 4px solid;
    -webkit-animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 3s linear 0s infinite forwards;
            animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 3s linear 0s infinite forwards;
  }
  .loader > .part > .part > .part > .part {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid;
    -webkit-animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-right 10s linear 0s infinite forwards;
            animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-right 10s linear 0s infinite forwards;
  }
  .loader > .part > .part > .part > .part > .part {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid;
    -webkit-animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 1s linear 0s infinite forwards;
            animation: stop 3s cubic-bezier(0.28, 1.9, 1, 0.9), rotation-left 1s linear 0s infinite forwards;
    border-right: 3px solid;
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes scale {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @-webkit-keyframes stop {
    from {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes stop {
    from {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes rotation-z {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotation-z {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes rotation-right {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotation-right {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotation-left {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  @keyframes rotation-left {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  