<div class="home">
  <app-podcast-list [title]="'Top Podcasts'" [podcasts]="topPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Arts'" [podcasts]="topArtsPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Comedy'" [podcasts]="topComedyPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Education'" [podcasts]="topEducationPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Kids & Family'" [podcasts]="topKidsAndFamilyPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Health'" [podcasts]="topHealthPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in TV & Film'" [podcasts]="topTVPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Music'" [podcasts]="topMusicPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in News & Politics'" [podcasts]="topNewsAndPoliticsPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Religion & Spirituality'" [podcasts]="topReligionAndSpiritualityPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Science & Medicine'" [podcasts]="topScienceAndMedicinePodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Sports & Recreation'" [podcasts]="topSportsAndRecreationPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Technology'" [podcasts]="topTechnologyPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Business'" [podcasts]="topBusinessPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Games & Hobbies'" [podcasts]="topGamesAndHobbiesPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Society & Culture'" [podcasts]="topSocietyAndCulturePodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
  <app-podcast-list [title]="'Top Podcasts in Government & Organizations'" [podcasts]="topGovernmentAndOrganizationsPodcasts" [topPodcastLoaded]="true" [horizontal]="true"></app-podcast-list>
</div>
